@import "foundation-grid.css";

.location-container {

    .button-group {
        margin-bottom: 1rem;
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;

        > .button {
            margin: 0;
            margin-right: 1px;
            margin-bottom: 1px;
            font-size: 0.9rem;
            flex: 0 0 auto;
        }
    }

    .button {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 1rem 0;
        padding: 0.85em 1em;
        border: 1px solid #0000;
        border-radius: 0;
        transition: background-color 0.25s ease-out, color 0.25s ease-out;
        font-family: inherit;
        font-size: 0.9rem;
        line-height: 1;
        text-align: center;
        cursor: pointer;
        background-color: #e5e5e5;
        outline: none;
        color: #000000;

        &.selected {
            background-color: darken(#e5e5e5, 30%);
        }
    }

    .vue-map-container {
        height: 400px;
        @media screen and (min-width: 640px) {
            height: 500px;
        }
    }

    .marker-item,
    .location-list {
        overflow-x: hidden;
        overflow-y: auto;
        font-size: 15px;
        max-height: 300px;
        padding: 1rem;
        //border: 1px solid #aaa;

        @media screen and (min-width: 640px) {
            max-height: 500px;
            padding: 0;
            //border: none;
            //border-bottom: 1px solid #aaa;
        }

        .location-title {
            font-size: 25px;
        }

        .title {
            font-weight: bold;
            text-transform: capitalize;
            font-size: 110%;
        }

        .address {
            color: #333;
            margin-bottom: .5rem;
            font-weight: bold;
        }

        .phone,
        .hours {
            > span:first-child {
                font-weight: bold;
            }
        }

        .list-item {
            padding: 1rem 0;
            border-bottom: 1px solid black;
            cursor: pointer;
            text-transform: capitalize;

            &:first-child {
                padding-top: 0;
            }

            @media screen and (min-width: 640px) {
                padding: 1rem 2rem;
            }
        }

        .services {
            margin-top: 2px;

            .title {
                margin-bottom: 0;
            }
        }
    }

    .location-list {
        border: 1px solid #aaa;
        @media screen and (min-width: 640px) {
            border: none;
            border-bottom: 1px solid #aaa;
        }

    }

    .marker-item {
        > div {
            margin-bottom: .5rem;
        }

        padding: 1rem;
    }


    .hours-list {
        margin-left: 1rem;
    }

    .item-group {
        .title {
            font-size: 100%;
            text-decoration: underline;
            margin-bottom: 2px;
        }
    }

    .item-group {
        .title {
        }

        > span {
            //font-weight : bold;
        }

        .service-item {

            display: inline;

        }

        span.name {
            //font-weight    : bold;
            text-transform: capitalize;
            color: #333;

        }

    }
}
